postgres:
  host: {{ $vault | printf "ref+azurekeyvault://%s/data-system-druid-postgres-server-credentials#/postgresql-host" | fetchSecretValue }}
  database: {{ $vault | printf "ref+azurekeyvault://%s/data-system-druid-postgres-server-credentials#/postgresql-database" | fetchSecretValue }}
  user: {{ $vault | printf "ref+azurekeyvault://%s/data-system-druid-postgres-server-credentials#/postgresql-username" | fetchSecretValue }}